{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "lines-between-class-members": [
      "error",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "no-await-in-loop": 0
  }
}